### Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python 
2. R
3. SQL
4. Java
5. Scala
6. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. matplotlib
4. Scikit-learn
5. tensorflow
6. pytorch

| Data Science Tools |
| ------------------ |
| Python             |
| R                  |
| SQL                |
| Jupyter Notebooks  |
| Tensorflow         |
| Tableu             |
| PowerBI            |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [4]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Hemasri Yetukuri